################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wengentle.BookStore/.vs/Wengentle.BookStore
/Wengentle.BookStore/Wengentle.BookStore/bin/Debug/net6.0
/Wengentle.BookStore/Wengentle.BookStore/obj
*.user
/Wengentle.BookStore/Wengentle.BookStore/wwwroot/lib
