@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device=width" />
        <title>AboutUs</title>
    </head>
    <body>
        <h1>This is the About Us Page of Book Application.</h1>
    </body>
</html>

