@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device=width" />
        <title>Contact Us</title>
    </head>
    <body>
        <h1>Hello From Contact Us Page</h1>
    </body>
</html>
