@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device=width" />
        <title>Temp View From Different Location</title>
    </head>
    <body>
        <h1>Hello From Different View Location</h1>
    </body>
</html>
