@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device=width" />
        <title>Get All Books</title>
    </head>
    <body>
        <h1>All book list</h1>
        <button>Click Me</button>
    </body>
</html>
